<app-nav-bar [opened]="menuOpened" (menuToggle)="setMenuState($event)"></app-nav-bar>

<div class="content-fluid">

  <app-full-banner></app-full-banner>

  <app-list-tittles title="Adicionaddo recentemente" [list]="listTitles" ></app-list-tittles>
  <app-list-tittles title="Em alto" [list]="listTitles"></app-list-tittles>
  <app-list-tittles title="Continuar assistindo como {{usuario}}" [list]="listTitles"></app-list-tittles>

</div>

<div class="backdrop" (click)="closeMenu()" *ngIf="menuOpened"></div>
